/*.icon-roll {*/
/*    border: 3px solid #cde0ff;*/
/*    border-radius: 10px;*/
/*    padding: 2px;*/
/*}*/

/*body {*/
/*    background-color: #dcdbdb;*/
/*}*/


table {
    margin: auto;
    font-family: sans-serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    border: 16px solid;
    /*background-color: #cbcbcb;*/
    border-radius: 20px;
    color: black;
    min-width: 1200px;

}

form p {
    font-size: 1.2em;
}

th {
    font-size: 18px;
    padding: 10px;
}

td {
    background-color: #cbcbcb;
    padding: 10px;
    border: 2px solid;
}

td[colspan='5'] {
    background-color: white;
    border: 0;
}

td[colspan='4'] {
    background-color: white;
    border: 0;
    border-bottom: 2px solid;
}

tr:hover td{
    background-color: #b0c9ff;
}

.warning_message {
    font-size: 3em;
    margin: auto;
}

/*tr:hover {*/
/*    scale: 1.1;*/
/*}*/

input {
	width: 300px;
	font-size: 1.1em;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
}

/*html {*/
/*    background-color: #141414;*/
/*}*/

.content {
    width: 70%;
    margin: auto;
    /*color: white;*/
    border: 16px solid;
    min-height: 1000px;
    /*background-color: #dcdbdb;*/
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #b0c9ff;*/
    height: 100px;
    /*color: white;*/
    border-bottom: 16px solid;
    /*border-radius: 25% 0 0 25%;*/
}

.header.disabled a:visited{
    color: grey;
}


.header a:visited{
    color: #141414;
}
.header a:hover{
    color: #b0c9ff;
}



input:hover {
    background-color: #b0c9ff;
}

/*.admin-panel:hover{*/
/*    background-color: #a94442;*/
/*}*/

.logo {
    width: 50px;
    height: 50px;
    margin: auto;
}

.logo-with-#cbcbcb {
    display: flex;
    align-items: center;
}

.logo-with-label a {
    font-size: 2em;
}

.logo-with-label {
    display: flex;
    justify-content: center;

}

.user-panel {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-around;
    margin-right: 15px;
    font-size: 20px;
}

.logo-with-label p {
    font-size: 2em;

}

main {
    margin: auto;
    width: 90%;
    align-content: center;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*background-color: white;*/
}


.active{
    scale: 1.1;
}



.active td{
        background-color: #b0c9ff;
}

/*     hiden panel         */

.hidden-panel {
    display: none;
}

.redact-image {
    width: 50px;
}

.hiden-sym {
    font-size: 50px;
}

span {
    font-size: 50px;
}

.admin-panel {
    position: fixed;
    top: 130px;
    right: 10%;
    z-index: 101;
    max-width: 70%;
    display: flex;
    border: 3px solid black;
    justify-content: space-around;
    border-radius: 10%;
    background-color: #cbcbcb;
}

.admin-panel:hover {
    background-color: #ffffff;
}

.module {
    margin: 10px;
}

.navigation {
    display: flex;
    width: 40%;
    font-size: 1.5em;
    justify-content: space-between;
    text-decoration: none;
}

.disabled {
    pointer-events: none;
    cursor: default;
    color: #888;
}

form :invalid {
    border-color: #a94442;
    background-color: #a94442;
}

.flash {
    padding: 10px;
    max-width: 30%;
}
.flash.success{
    border: 1px solid #21DB56;
    background: #AEFFC5;
}
.flash.error{
    border: 1px solid #FF4343;
    background: #FF9C9C;
}

.main-page-navigation li {
    margin: auto;
    align-self: center;
    display: flex;
    justify-content: center;
}

.main-page-navigation li a {
    margin: auto;
    align-self: center;
    text-align: center;
    font-size: 1.2em;
}

.main-header {
    justify-content: right;
}

.main-page-navigation li:hover {
    background-color: #b0c9ff;
}

@media screen and (max-width: 1720px) {
    .content{
        width: 90%;
    }
    .admin-panel {
        position: static;
        margin: auto;
    }
    .navigation{
        font-size: 1em;
    }
}